.aaaa{
    margin:auto
    }
 
.ouch{
    margin: auto;
    width: 25%;
    margin-top: 5px;
}

.FIGARO{
    background-color: rgba(7, 250, 250, 0.4);
    padding: 20px;
    border-radius: 10px;
}

.FOGAROH1{
    margin-bottom: 20px;
    color: red;
}

.ALOJA{
    font-size: 18px;
    color: red;
}